
#SPCDescription {
  display: none;
  position: fixed;
  width: 300px;
  height: 50px;
  background: #1b1b1b;
  color: #dedede;
  right: 325px;
  top: 160px;
  border: $line-border;
  text-align: left;
  padding: 0 5px;
}
