
#SPCIcon {
  position: fixed;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: $bg-dark-color;
  color: $text-light-color;
  text-transform: uppercase;
  right: 10px;
  top: 110px;
}
