
html, body {
}

#SPCWidget * {
  box-sizing: border-box;
}

#SPCWidget {
  z-index: 9999;
  width: 300px;
  position: fixed;
  right: 10px;
  top: 160px;
  overflow-y: auto;
  text-align: center;
  border: $line-border;
  background-color: $bg-color;
  color: $text-color;
}
