

#SPCButtons ul {
  padding: 0;
  margin: 0;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;

  li {
    list-style: none;
    display: inline-block;
    overflow: hidden;
    width: 47%;
    order: 0;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
  }
}
