<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>

  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

</head>

<body >
  <h1>Assumenda, comme expedita</h1>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, commodi, dolor doloribus ducimus expedita facere inventore iste libero officiis pariatur quod rem, veniam voluptatum! Consequuntur inventore quae repellat saepe veniam!</div>
  <p>By <a href="#">@consectetur adipisicing</a> </p>
</body>

</html>