
$bg-color: #dedede;
$bg-dark-color: #1b1b1b;

$text-color: #1b1b1b;
$text-light-color: #dedede;

$line-border: 5px solid #4d4d4d;
$line-light-border: 5px solid #aaaaaa;

$high-arrow-white-url: 'http://localhost/images/arrow-white.png';
$high-point-white-url: 'http://localhost/images/point-white.png';
$high-arrow-black-url: 'http://localhost/images/arrow-black.png';
$high-point-black-url: 'http://localhost/images/point-black.png';
